* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}
/* Design navebar of page */
.navbar-right {
    margin-right: 23px;
}

.navbar-inverse .navbar-brand 
{
    color: dodgerblue;
    font-weight: bold;
    font-style: italic;
    font-size: 29px;
}
.navbar-inverse .navbar-brand:hover
{
    color: dodgerblue;
}

.navbar-inverse .navbar-nav > li > a {
    color : #666666;
    font-size: 17px;
}


/* Design navebar of page */
    /* Design banner of page */
    .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.item {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
}

.slide .carousel-caption {
    top: 55%;
    transform: translateY(-50%);
    text-align: left;
    right: 0;
    left: 57%;
    background-color: transparent;
    box-shadow: 4px 4px 8px rgb(112, 111, 111), -4px -4px 8px rgb(112, 111, 111);
    width: 30%;
    padding: 3% 2%;
    height: auto;
    bottom: 0;
    max-height: 20vh;
    min-height: 40vh;
    text-transform: uppercase;
}

.slide .carousel-caption span 
{
   font-size: 1.3vw;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.slide .carousel-caption h1
{
    padding-bottom: 2%;
    font-size: 3vw;
}

.carousel-caption a {
    border: none;
    transition: .5s ease;
}

.slide .carousel-caption a:hover {
    background-color: #fff;
    font-weight: bold;
    color: dodgerblue;
}

.item strong
{
    color : dodgerblue;
}
/* Design banner of page */



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: #101010;
    color: #fff;
    padding: 30px 0;
}

.navbar-collapse li  .p {
    color: #fff;
    font-style: italic;
    position: absolute;
    left: 16px;
    width:100px;
    top: 15px;
}

.navbar-collapse li .p img{
    width: 52px;
    height: 43px;
    border-radius: 50%;
    position: absolute;
    left: 105px;
    bottom: -11px;
}
